init-author-name=Yash Gupta
init-author-email=yashguptaofficial@gmail.com
init-license=MIT
init-author-url=https://yashguptaz.com/
save-exact=true
username=yashguptaz
email=yashguptamic@gmail.com
//registry.npmjs.org/:
